body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}

form,
.user-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

.input-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.gender-label,
#male,
#female {
  display: inline-block;
}

#submit {
  background-color: #1010c7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: #29276a;
}

.error-msg {
  color: red;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
